
.inner-foot-cont {
    display: inline;
    float: right;
    width: 90%;
    padding-top: 1em;
}

.icon {
    font-size: 1.3rem;
}

#icon-1 {
    padding-right: 3em;
}

.count-box {
    display: inline;
}

#count-box-2 {
    padding-right: 2em;
}

.display-box {
    padding-right: 2em;
    padding-left: .75em;
}

